.page-header
  %h2 Playlists

.panel.panel-default
  .table-responsive
    %table#playlists-table.table.table-striped
      %thead
        %tr
          %th Name
          %th Description
          %th Track Count
          %th Owner
      %tbody
        - @playlists.each do |playlist|
          %tr
            %td= link_to playlist.name, user_playlist_path(user_id: playlist.owner.id, id: playlist.id)
            %td= playlist.description
            %td= playlist.total
            %td= playlist.owner.display_name
