%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to "mutant", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      %p.navbar-text 
        %span.glyphicon.glyphicon-user
        Signed in as #{@spotify_user.display_name}
      %a.btn.btn-md.btn-default.navbar-btn(ng-href="#{auth_spotify_logout_path}")
        %span.glyphicon.glyphicon-log-out
        Logout
