!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge"}
    %base{href: "/"}
    %title Mutant
    = stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Roboto:400,700,300,500', media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true 
    = csrf_meta_tags
  %body(ng-app="mutantApp")
    .wrapper
      <side-nav class='col-xs-2'></side-nav>
      .main-content.col-xs-10
        %ng-view
